.SpecialProductsHeading{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}
.SpecialProductsHeading .Devider{
    background-color:  #0f8fac;
    width: 150px;
    height: 2px;
    margin: 15px 0 20px 0;
}
.SpecialProductsHeading p{
    color: gray;
}
.SpecialProducts{
    display: flex;
    gap: 30px;
    width: 85%;
    margin: 20px auto;
}

.thirdSection{
    display: flex;
    flex-direction: column;
}

.firstSection{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
.FirstImg{
    width: 100%;
    height: 50%; 
   }
.FirstImg img{
    width: 100%;
    object-fit: scale-down;
}
.rowImages{   
    width: 100%;
    height: 50%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.rowImages div{
    width: 50%;
    height: 100%;
}
.rowImages img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.secondSection{
    width: 40%; 
}
.secondSection div{
    width: 100%;
    height: 100%;
}
.secondSection img{
    width: 100%;  
    height: 100%;
    object-fit:cover;
}
.thirdSection{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.thirdSection div{
    width: 100%;
    height: 50%;
}
.thirdSection img{
    width: 100%;
    object-fit:cover;
    height: 100%; 
}